* {
    margin: 0;
    padding: 0;
}

body {
    margin: 2em;
    background-color: lightgrey;
}

body,ul,li {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.gallery li {
    border: 0.6em solid black;
    border-radius: 0.1em;
    background-color: white;
    align-items: center;
    box-shadow: 
    0 0 0.5em rgba(0,0,0,0.3) insert,
    0 0 1em 0 rgba(0,0,0,0.4);
}